@using HHD.Service;

@model ProfileViewModel

@{
    ViewData["Title"] = "Профиль";
}
<h1>@Localization.Languages["ru"].GetLabel("MyProfile"))</h1>
<div class="row">
    <div class="col-sm-8">
        <form action="/profile" method="post" class="form">
            <input type="hidden" value="@Model.ProfileId" name="ProfileId" />
            @Html.AntiForgeryToken()

            <div class="form-group">
                <select name="ProfileStatus" class="text">
                    @foreach (int ps in Enum.GetValues(typeof(HHD.DAL.Models.ProfileStatusEnum))) {
                        if ((int)Model.ProfileStatus == ps)
                        {
                            <option value="@ps" selected="selected">@Localization.Languages["ru"].GetLabel("ProfileStatusEnum" + Enum.GetName(typeof(HHD.DAL.Models.ProfileStatusEnum), ps))</option>
                        }
                        else
                        {
                            <option value="@ps">@Localization.Languages["ru"].GetLabel("ProfileStatusEnum" + Enum.GetName(typeof(HHD.DAL.Models.ProfileStatusEnum), ps))</option>
                        }
                        
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Имя профиля</label>
                <input name="ProfileName" type="text" value="@Model.ProfileName" />
                <div class="error">@Html.ValidationMessageFor(m => m.ProfileName)</div>
            </div>
                <div class="form-group">
                <label>Имя</label>
                <input name="FirstName" type="text" value="@Model.FirstName" />
                <div class="error">@Html.ValidationMessageFor(m => m.FirstName)</div>
            </div>
                    <div class="form-group">
                <label>Фамилия</label>
                <input name="LastName" type="text" value="@Model.LastName" />
                <div class="error">@Html.ValidationMessageFor(m => m.LastName)</div>
            </div>
            <button class="button">Сохранить</button>
        </form>
    </div>
    <div class="col-sm-4">
        <form action="/profile/uploadimage" method="post" enctype="multipart/form-data">
            <input type="hidden" value="@Model.ProfileId" name="ProfileId" />
            @Html.AntiForgeryToken()
            @if (!String.IsNullOrEmpty(Model.ProfileImage))
            {
                <image src="@Model.ProfileImage" class="profileimage"></image>
            }
            <p>
                <input type="file" name="file" />
            </p>
            <button class="button">Сохранить</button>
        </form>
    </div>
</div>

<h1>Я знаю:</h1>
<div class="row">
    <div class="col-sm-12">
        <component type="typeof(HHDUI.Pages.ProfileSkillEditor)" render-mode="WebAssembly" />
    </div>
</div>
<script src="_framework/blazor.webassembly.js"></script>